.container {
  display: flex;
  flex-direction: column;
  height: 88vh;
  gap: var(--mantine-spacing-lg);
  padding-right: 0;

  @media (max-width: $mantine-breakpoint-xs) {
    height: 82vh;
  }

  .content {
    flex: 1;
    padding-right: var(--mantine-spacing-md);
  }
  .searchbox {
    padding-right: var(--mantine-spacing-md);
  }
}
