.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  padding: var(--mantine-spacing-sm) 0;
  padding-left: calc(var(--mantine-spacing-xl) - var(--mantine-spacing-md));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
  margin-bottom: var(--mantine-spacing-sm);

  &.hidden {
    display: none;
  }

  .item_name {
    text-wrap: nowrap;
  }
}

.item_dragging {
  box-shadow: var(--mantine-shadow-sm);
}

.symbol {
  font-size: rem(30px);
  font-weight: 700;
  width: rem(60px);
}

.drag_handle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
}

.item_required_by {
  .required_quality {
    position: relative;
    &:after {
      content: "*";
      width: 5px;
      height: 5px;
      top: 4px;
      left: 4px;
      position: absolute;
      font-size: rem(12px);
    }

    img {
      object-position: 0 -5px;
      width: rem(12px);
    }
  }
}
